.parent{
    display: flex;
    overflow: hidden;
    background-color: black;
}

.left_section{
    background-color: #2641C2;
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_section_inner{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
}

.logo_div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px;
    margin-top: 60px; */
}

.logo_div h3{
    color: #ffffff;
    margin-left: 10px;
    font-size: 25px;
}

.logo{
    width: 44px;
    height: 44px;
}

.intro_text{
    /* background-color: orange; */
    margin: 80px 0 0 40px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.intro_text_p1{
    flex-shrink: 0;
    color: #FFFEFE;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
}

.intro_text_p2{
    flex-shrink: 0;
    color: #F6EDFF;
    font-family: Montserrat;
    /* font-size: 15px; */
    font-style: normal;
    /* font-weight: 100; */
    line-height: 24px; 
}

.right_section{
    background-color: #FDFCFD;
    background-color: pink;
    width: 967px;
}

.right_section_inner{
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: space-between;
}

.right_section_inner p{
    color: #0D0101;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.form{
    background-color:#FDFCFD;
    padding: 70px;
  
}

.fullname{
    display: flex;
}

.firstname{
    display: flex;
    flex-direction: column;
}

.lastname{
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column; 
}

.password{
    display: flex;
    flex-direction: column;
}
.phonenumber{
    display: flex;
    flex-direction: column;
}

.firstname label{
    color: #0D0101;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}

.lastname label{
    color: #0D0101;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.firstname input{
    width: 150px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.lastname input{
    width: 150px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.form button{
    background-color: blue;
    width: 230px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2641C2;
}

.bottom_text{
    display: flex;
    flex-direction: row;
} 